#navigation{
  	background-image: url("./pics/coverphoto.jpg");
  	height: 500px;
  	background-position: top;
  	background-repeat: no-repeat;
}

.menu{
  font-family: Roboto;
  border: 1px solid rgb(255, 165, 0);
  background-color: rgba(0, 0, 0, .5);
}

.links{
  color: rgb(255, 165, 0) !important;
}

#jumbotron{
  background-color: #A52A2A;
}

body {
	background-color: black;
}

h1 {
  color: white;
}

h2 {
  color: white;
}

h3 {
  color: white;
}

h6 {
  color: black;
}

.addsection{
  display: flex;
  justify-content: center;
}

.txt{
  font-family: "Times New Roman";
  font-size: 28px;
}

#carousel-news {

	height: 40vh;

}


.card a img {

	height: 200px;

}

a i {

	color: white;

}

p {
  color: white;
}

.btn a {
  text-decoration: none;
  color: blue;
}